section{
    background-color: #DDD;
}
div.body-container{
    background-color: white;
    padding: 1%;
}
div.main-project{
    background:url("https://picsum.photos/500");
    width: 500px;
    height: 500px;
    border-radius: 10px;
    width:40%;
    
    background-repeat: no-repeat;
    background-size: cover;
}

div.project-image{
    background:url("https://picsum.photos/300");
    width: 300px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

div.project-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
}

div.project-top{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div.info-container{
    width:40%;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

div.inner-info{
    width: 40%;
}

a{
    text-decoration: none;
    background-color:#ABF;
    display: inline-block;
    padding: 20px;
    color:black;
}

a:hover{
    text-decoration: none;
    background-color: black;
    color: white;
}

footer{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

header{
    padding: 1%;
}

.main-blurb{
    font-size: 1.5rem;
}

h2{
    font-size: 2.5rem;
}